.navigation {
  display : grid;
  grid-template-columns: 1fr;
}

.menu ul {
  margin			: 0 ;
  padding			: 0 ;
  list-style		: none ;
  border 			: 1px solid #d0d0d0;
}
.menu li {
  float 			: left;
  margin 			: auto;
  background-color	: #ffffff;
}
.menu li a {
  display			: block;
  min-width			: 120px;
  color 			: black;
  text-decoration 	: none;
  padding 			: 5px;	 
}
.menu li a:hover {
  background-color	: #e5f3ff ;
  cursor 			: pointer;
}
.menu ul li ul {
  display			:none;
}
.menu ul li:hover ul {
  display			:block;
 }
.menu li:hover ul li {
  float				:none;
}
.menu li ul {
  position			:absolute;
}

.filariane {
  background-color	: #505050;
  color				: #ffffff;
}