.equipement_rubrique {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#equipement_btn_valider {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(http://devweb.iutmetz.univ-lorraine.fr/~thieba218u/ihm/tp_inventaire/vue/css/valider.jpg) no-repeat center center;
}
#equipement_btn_annuler {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(http://devweb.iutmetz.univ-lorraine.fr/~thieba218u/ihm/tp_inventaire/vue/css/annuler.jpg) no-repeat center center;
}
